body {
    display:flex;
    justify-content: center;
    align-items: center;
}

.header {
    height: 100px;
}
.calcBody {
    display: flex;
    flex: auto;

    flex-direction: column;
    width: 800px;
    height: 950px;
    align-items: center;
}

.displayMain {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex:auto;
    /* border-style: solid; */
    border-width: 1px;
    border-color: black;
    border-radius: 1% 1% 0 0;
    width: 770px;
    height: 600px;
    font-size: 60px;
    text-align: right;
    background-color: black;
    color: aqua;
}

.displayTally {
    height: 100px;
    width: 570px;
    padding: 30px 60px;
    background-color: #2C3E50;

}
.displayWorking {
    height: 30px;
    padding: 50px 60px;
    width: 570px;
    background-color: #2C3E50;
}


.input {
    flex:auto;
    /* border-style: solid; */
    border-width: 1px;
    border-color: black;    
    border-radius: 0 0 1% 1%;

    width: 770px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    background-color: lightgray;

}
.operators {
    flex:auto;
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 600px;
    height: 100px

}

.numbers {
    flex:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 600px;
}


.btn {
    flex:auto;
    /* border-style: solid; */
    border-width: 1px;
    border-color: black;
    width: 50px;
    height: 50px;
    margin: 20px;
    padding: 15px 20px;
    font-size: 30px;
}

.numBtn {
    display: flex;
    background-color: black;
    color: white;
    border-radius: 10%;
}

.clrBtn {
}

.adminBtn {
    background-color: paleturquoise;
    border-radius: 10%;
}


.optBtn {
    background-color: darkgrey;
    color: pink;
    border-radius: 10%;  
}

.btnRow {
    flex: auto;
    display: flex;
}
.lastRow {
    display: flex;
}
.lastRowBtnZero {
    flex-grow: 2;
}
.lastRowBtnPeriod {
    flex-grow: 2;
}
.lastRowBtnEq {
    flex-grow: 4;
}