body {
    display:flex;
    justify-content: center;
}
.calculatorBody {
    display: flex;

    flex: auto;
    flex-direction: column;
    width: 800px;
    height: 800px;
    align-items: center;
}

.displayMain {
    flex:auto;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 650px;
    height: 300px;
    font-size: 60px;
    text-align: right;


    background-color: black;
    color: aqua;
}

.displayTally {
    height: 60px;
    padding: 30px 60px;

}
.displayWorking {
    height: 60px;
    padding: 30px 60px;

}

.input {
    flex:auto;

    border-style: solid;
    border-width: 1px;
    border-color: black;    
    width: 650px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    background-color: lightgray;

}
.operators {
    flex:auto;

    display: flex;
    flex-direction: row;


    border-style: solid;
    border-width: 1px;
    border-color: black;

    width: 600px;
    height: 100px

}

.numbers {
    flex:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    border-style: solid;
    border-width: 1px;
    border-color: black;

    width: 600px;

}


.btn {
    flex:auto;
    /* border-style: solid; */
    border-width: 1px;
    border-color: black;
    width: 50px;
    height: 50px;
    margin: 20px;
    padding: 15px 20px;


    font-size: 30px;
}

.numBtn {
    display: flex;
    background-color: black;
    color: white;
    border-radius: 10%;

}

.clrBtn {
}
.adminBtn {
    background-color: paleturquoise;
}


.optBtn {
    background-color: darkgrey;
    color: lime;
    border-radius: 10%;

    
}

.btnRow {
    flex: auto;
    display: flex;

}